---
import { getCollection } from 'astro:content';
import Card from '../../components/common/Card.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection('posts');
    const uniqueTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout title={tag}>
    <div class='flex flex-row mt-4 w-1/2 mx-auto justify-center items-center flex-wrap gap-4'>
    <p class='text-lg font-extrabold'>包含 {tag} 标签的文章</p>
        {posts.map((post: any) => (
            <Card title={post.data.title} class='w-fit'>
                <div>
                    <a href={`/posts/${post.id}`}>{post.data.title}</a>
                </div>
            </Card>
        ))}
    </div>
</BaseLayout>
