---
import { Image } from 'astro:assets';
import Card from "./common/Card.astro";
import '../styles/components/blog-card.scss';

interface Props {
	title: string;
	subtitle?: string;
	image?: ImageMetadata | string;
	link: string;
	description: string;
	class?: string;
}

const {
	title,
	subtitle,
	image,
	link,
	description,
	class: wrapperClass,
}: Props = Astro.props;

const cardClass = wrapperClass ?? 'blog-card--default';
---
<Card title={title} subtitle={subtitle} class={cardClass}>
	{image && (
		<a href={link} class="blog-card__image-link">
			{typeof image === 'string' ? (
				<img src={image} alt={title} class="blog-card__image" />
			) : (
				<Image src={image} alt={title} class="blog-card__image" />
			)}
		</a>
	)}
	<p class="blog-card__description">{description}</p>
</Card>
