---
import BlogCard from "./BlogCard.astro";
import blogs from "../scripts/utils";
import '../styles/components/blog-list.scss';

interface Props {
	class?: string;
}

const { class: wrapperClass = "" } = Astro.props as Props;
const classes = ['blog-list', wrapperClass].filter(Boolean).join(' ');
---
<div class={classes}>
	{blogs.map((blog) => (
		<BlogCard
			title={blog.title}
			subtitle={blog.subtitle}
			image={blog.image}
			link={blog.link}
			description={blog.description}
			class='blog-list__item'
		/>
	))}
</div>
