---
import { Image } from 'astro:assets';
import '../styles/components/blog-card.scss';

interface Props {
	title: string;
	subtitle?: string;
	image?: ImageMetadata | string;
	link: string;
	description: string;
	class?: string;
	pubDate?: Date
}

const {
	title,
	subtitle,
	image,
	link,
	description,
	pubDate,
	class: wrapperClass,
}: Props = Astro.props;

const dateStr = pubDate ? pubDate.toISOString().slice(0,10).replace(/-/g, "."): ""

const kind = subtitle ? subtitle.toUpperCase().replace(/\s/g, "_") : "POST";
---

<article class={`post-entry ${wrapperClass}`}>
	<div class="post-meta">
		<span class="post-kind">{kind}</span>
		{dateStr && <span class="post-date">{dateStr}</span>}
	</div>

	<h2 class="post-title">
		<a href={link}>{title}</a>
	</h2>
	{description && <p class="post-desc"> {description}</p>}
	{image && (
		<a href={link} class="post-cover">
			{typeof image === 'string' ? (
				<img src={image} alt={title} />
			): (
				<Image src={image} alt={title} />
			)}
		</a>
	)}
</article>