---
import BlogCard from "./BlogCard.astro";
import Card from "./common/Card.astro";
import blogs from "../scripts/utils";
import '../styles/components/recent.scss';

interface Props {
	class?: string;
}

const { class: wrapperClass } = Astro.props as Props;
const featuredBlog = blogs[0];
const cardClass = wrapperClass ?? 'recent--default';
---
{featuredBlog ? (
	<BlogCard
		title={featuredBlog.title}
		subtitle={featuredBlog.subtitle}
		image={featuredBlog.image}
		link={featuredBlog.link}
		description={featuredBlog.description}
		class={cardClass}
	/>
) : (
	<Card title='Featured Article' class={cardClass}>
		<p class='recent__empty'>暂时没有内容可显示。</p>
	</Card>
)}
