---
import '../global.scss';
import '../styles/layouts/base-layout.scss';
import SiteHead from '../components/common/SiteHead.astro';
import { SITE_TITLE } from '../scripts/seo';

const {
    title = SITE_TITLE,
    description,
    bodyClass = '',
    canonical,
    ogType = 'website',
    ogImage,
    ogImageAlt = title,
    publishedTime,
    modifiedTime,
    tags = [],
} = Astro.props;
---
<html lang='zh-CN'>
  <head>
    <SiteHead
      title={title}
      description={description}
      canonical={canonical}
      ogType={ogType}
      ogImage={ogImage}
      ogImageAlt={ogImageAlt}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      tags={tags}
    />
    <slot name='head' />
  </head>

  <body class={`body ${bodyClass}`}>
    <main class='main'>
      <slot />
    </main>

    <script>
      import { initializeSiteRuntime } from "../scripts/client/site-runtime";

      initializeSiteRuntime();
    </script>
  </body>
</html>
